<!DOCTYPE html>
<html ng-app="CordobaApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cordoba</title>

    @Styles.Render("~/bundles/AdminCSS")
    <link href="~/Content/admin/css/components.css" rel="stylesheet" type="text/css">
   

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  
</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" ui-sref="Home"><img style=" margin-top: -16px; height: 52px;" src="~/Content/admin/images/logo/logo.png"  alt=""></a>
            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            @*<ul class="nav navbar-nav">
                    <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-git-compare"></i>
                            <span class="visible-xs-inline-block position-right">Git updates</span>
                            <span class="badge bg-warning-400">9</span>
                        </a>

                        <div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-heading">
                                Git updates
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-sync"></i></a></li>
                                </ul>
                            </div>
                            <ul class="media-list dropdown-content-body width-350">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                    </div>
                                    <div class="media-body">
                                        Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                        <div class="media-annotation">4 minutes ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Add full font overrides for popovers and tooltips
                                        <div class="media-annotation">36 minutes ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                                        <div class="media-annotation">2 hours ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                                        <div class="media-annotation">Dec 18, 18:36</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Have Carousel ignore keyboard events
                                        <div class="media-annotation">Dec 12, 05:46</div>
                                    </div>
                                </li>
                            </ul>
                            <div class="dropdown-content-footer">
                                <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>*@
            @*<p class="navbar-text"><span class="label bg-success-400">Online</span></p>*@
            <ul class="nav navbar-nav navbar-right pull-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-life-ring fa-lg"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">Stores <i class="fa fa-shopping-cart"></i></li>
                        <li><a>Main</a></li>
                        <li><a>Make a Difference Thank You AE</a></li>
                        <li><a>Arkle Finance rewards 2015</a></li>
                        <li><a>Make a Difference Thank You AU</a></li>
                        <li><a>Make a Difference Thank You CA</a></li>
                        <li><a>Make a Difference Thank You FR</a></li>
                        <li><a>Make a Difference Thank You IN</a></li>
                        <li><a>Make a Difference Thank You JP</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <span class="label label-danger pull-left">400</span>
                        <i class="fa fa-bell fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right alerts-dropdown">
                        <li class="dropdown-header">Orders</li>
                        <li><a style="display: block; overflow: auto;"><span class="label label-warning pull-right">2419</span>Pending</a></li>
                        <li><a><span class="label label-success pull-right">5992</span>Completed</a></li>
                        <li><a><span class="label label-danger pull-right">5</span>Returns</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Customers</li>
                        <li><a><span class="label label-danger pull-right">363</span>Pending approval</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Products</li>
                        <li><a><span class="label label-danger pull-right">31</span>Out of stock</a></li>
                        <li><a><span class="label label-danger pull-right">1</span>Reviews</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>

                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/admin/images/placeholder.jpg" alt="">
                        <span>Admin</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="icon-user-plus"></i>profile</a></li>
                        @*<li><a href="#"><i class="icon-coins"></i> My balance</a></li>
                    <li><a href="#"><span class="badge bg-teal-400 pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>*@
                        <li class="divider"></li>
                        @*<li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>*@
                        <li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">
                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="#" class="media-left"><img src="~/Content/admin/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">Admin</span>
                                    <div class="text-size-mini text-muted">
                                        <i class="icon-pin text-size-small"></i> &nbsp;India
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">
                                <!-- Main -->
                                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                                <li class="active"><a href="#" ui-sref="Home"><i class="icon-home4"></i> <span>Dashboard</span></a></li>

                                <li>
                                    <a href="#"><i class="fa fa-tags fa-fw"></i> <span>Catalog</span></a>
                                    <ul>
                                        <li><a href="#" ui-sref="ShowCountry"><i class="icon-forward"></i> <span> Countries</span></a></li>
                                      
                                        <li><a href="#" ui-sref="ShowCategory"><i class="icon-forward"></i> <span> Categories</span></a></li>
                                        <li><a href="#" ui-sref="ShowSupplier"><i class="icon-forward"></i> <span> Supplier</span></a></li>
                                        <li><a href="#" ui-sref="ShowManufacturer"><i class="icon-forward"></i> <span> Manufacturers</span></a></li>
                                        <li><a href="#" ui-sref="Product"><i class="icon-forward"></i> <span> Products</span></a></li>
                                        <li><a href="#" ui-sref="ShowProductCatalogue"><i class="icon-forward"></i> <span>  Product Catalogues</span></a></li>
                                       
                                    </ul>
                                </li>

                                <li>
                                    <a href="#"><i class="fa fa-tags fa-fw"></i> <span>Sales</span></a>
                                    <ul>
                                        <li><a href="#" ui-sref="ShowOrders"><i class="icon-forward"></i> <span> Orders</span></a></li>
                                        <li><a href="#"><i class="icon-forward"></i> <span> Recurring Orders</span></a></li>
                                        <li><a href="#"><i class="icon-forward"></i> <span> Returns</span></a></li>
                                        <li><a href="#"><i class="icon-forward"></i> <span> Customers</span></a></li>
                                        <li><a href="#"><i class="icon-forward"></i> <span> Gift Vouchers</span></a></li>
                                        <li><a href="#"><i class="icon-forward"></i> <span> PayPal</span></a></li>

                                        @*<li><a href="#" ui-sref="ShowCategory"><i class="icon-forward"></i> <span> Categories</span></a></li>
                                        <li><a href="#" ui-sref="ShowSupplier"><i class="icon-forward"></i> <span> Supplier</span></a></li>
                                        <li><a href="#" ui-sref="ShowManufacturer"><i class="icon-forward"></i> <span> Manufacturers</span></a></li>
                                        <li><a href="#" ui-sref="Product"><i class="icon-forward"></i> <span> Products</span></a></li>
                                        <li><a href="#" ui-sref="ShowProductCatalogue"><i class="icon-forward"></i> <span>  Product Catalogues</span></a></li>*@

                                    </ul>
                                </li>

                                <li>
                                    <a href="#"><i class="icon-gear"></i>System <span></span></a>
                                    <ul>
                                        <li><a href="#" ui-sref="ShowStore"><i class="icon-forward"></i> <span> Setting</span></a></li>
                                        <li><a href="#" ui-sref="Users"><i class="icon-forward"></i> <span> Users</span></a></li>                       
                                        <li><a href="#"><i class="icon-forward"></i> <span> Design</span></a>
                                            <ul>
                                                <li><a href="#" ui-sref="Banner"><i class="icon-forward"></i> <span> Banners</span></a></li>
                                            </ul>
                                        </li>  
                                        <li><a href="#" ui-sref="Language"><i class="icon-forward"></i> <span> Language</span></a></li>                                                             
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-wrench fa-fw"></i>Tools <span></span></a>
                                    <ul>
                                        <li><a href="#" ui-sref="ErrorLog"><i class="icon-forward"></i> <span> Error Logs</span></a></li>
                                        <li><a href="#" ui-sref="ImportCatalogue"><i class="icon-forward"></i> <span>Import Catalogues </span></a></li>
                                    </ul>

                                </li>
                                <li>
                                    <a href="#"><i class="icon-graph"></i>Report <span></span></a>
                                    <ul>
                                        <li>
                                            <a href="#"><i class="icon-forward"></i> <span> Sales</span></a>
                                            <ul>
                                                <li><a href="#" ui-sref="OrderReport"><i class="icon-forward"></i> <span> Orders</span></a></li>
                                                <li><a href="#" ui-sref="ShippingReport"><i class="icon-forward"></i> <span> Shipping</span></a></li>  
                                                <li><a href="#" ui-sref="ReturnReport"><i class="icon-forward"></i> <span> Returns</span></a></li>   
                                                @*<li><a href="#" ui-sref="CouponsReport"><i class="icon-forward"></i> <span> Coupons</span></a></li>*@                                                  
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-forward"></i> <span> Product</span></a>
                                            <ul>
                                                <li><a ui-sref="ProductViewedReport"><i class="icon-forward"></i> <span> Viewed</span></a></li>
                                                <li><a ui-sref="ProductPurchasedReport"><i class="icon-forward"></i> <span> Purchased</span></a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-forward"></i> <span> Customers</span></a>
                                            <ul>
                                                <li><a href="#" ui-sref="CustomerOnlineReport"><i class="icon-forward"></i> <span> Customer Online</span></a></li>
                                                <li><a href="#" ui-sref="CustomerActivityReport"><i class="icon-forward"></i> <span> Customer Activity</span></a></li>
                                                <li><a href="#" ui-sref="CustomerOrderReport"><i class="icon-forward"></i> <span> Orders</span></a></li>
                                                <li><a href="#" ui-sref="RewardPointsReport"><i class="icon-forward"></i> <span> Reward Points</span></a></li>
                                                <li><a href="#"><i class="icon-forward"></i> <span> Credit</span></a></li>
                                            </ul>
                                        </li>
                                    
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="loader" data-loading><img class="Centerloader" src="~/Content/Images/Loading.gif" /></div>
            <div class="content-wrapper">
                <!-- Page header -->
                <!-- /page header -->
                <!-- Content area -->
                <div class="content">

                    @RenderBody()
                    <!-- Footer -->
                    <div class="footer text-muted">
                        &nbsp;&nbsp;&nbsp;  &copy; 2017-18. <a href="#">Cordoba
                        </a>
                         @*by <a href="#" target="_blank">Shaligram Infotech</a>*@
                    </div>
                    <!-- /footer -->
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
 
    @Scripts.Render("~/bundles/jquery")
  
    @Scripts.Render("~/bundles/CommonJs")    
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/AdminJs")
    @Scripts.Render("~/bundles/appConfig")
    @Scripts.Render("~/bundles/AdminControllers")

    @*@Scripts.Render("~/bundles/Chart")*@

    <script src="~/Scripts/admin/js/plugins/visualization/echarts/echarts.js"></script>
    <script type="text/javascript" src="~/Scripts/admin/js/charts/google/googleJSapi.js"></script>

    @*<script src="~/Scripts/admin/js/charts/google/bars/bar.js"></script>*@

    @*<script src="~/Scripts/admin/js/charts/echarts/bars_tornados.js"></script>*@

    @*<script src="~/Scripts/admin/js/charts/echarts/pies_donuts.js"></script>*@
    
    <!-- Theme JS files -->
    @*<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Scripts/admin/js/pages/editor_ckeditor.js"></script>*@    
    <!-- /theme JS files -->


</body>
</html>
<script>

    $(document).ready(function () {
        $(".dropdown-toggle").dropdown();
    });

</script>