<!DOCTYPE html>
<html ng-app="CordobaApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cordoba</title>
    <!-- Bootstrap -->
    @Styles.Render("~/bundles/Layout2CSS")
    <link href="~/Content/layout2/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <style>
     @Html.Raw(HttpContext.Current.Session["CssOverride"].ToString());
    </style>
</head>
<body>

    <div class="fix-header navbar-fixed-top">
        <div class="top-header">
            <div class="container">
          
                <div class="col-sm-12">
                    <div class="row">
                        <div class="login">
                            <ul>
                                <li><a href="">My Account</a></li>
                                <li><a href="">My Wishlist</a></li>
                                <li><a href="">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header">
            <div class="container">

                <div class="col-sm-12">
                    <div class="row">
                        <div class="logo">
                            <a href=""><img src="~/Content/layout2/images/logo.png" /></a>
                        </div>
                        <div class="main-menu">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="show_cart">
                                <a href=""><img src="~/Content/layout2/images/cart.png"><span class="badge">4</span></a>
                            </div>
                            <div class="search_products">
                                <input id="txtName" class="search_textbox" placeholder="Search" />
                            </div>
                            <div id="navbar" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li><a class="active" href="#">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @RenderBody();

    <div class="footer">
        <div class="container">
            <div class="col-sm-4 col-md-3">
                <a href=""><img src="~/Content/layout2/images/logo.png" alt="footer-logo"></a>
            </div>
            <div class="col-sm-4 col-md-6">
                <div class="footer_menu">
                    <h5>Get To Know Us</h5>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">My Account</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Site Map</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="footer_menu">
                    <h5>Keep In Touch</h5>
                    <a href=""><img src="~/Content/layout2/images/fb.png" alt="facebook" /></a>
                </div>
            </div>

        </div>
    </div>
    <footer>
        <p>© Example 2017 <a href="">http://webapp2.cordobarewards.co.uk/</a> - v2.5</p>
    </footer>

    @Scripts.Render("~/bundles/Layout2Js")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/appConfig")
    @Scripts.Render("~/bundles/LayoutControllers")

</body>
</html>