<!DOCTYPE html>
<html ng-app="CordobaApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cordoba</title>
    <!-- Bootstrap -->
    @Styles.Render("~/bundles/Layout2CSS")
    <link href="~/Content/layout2/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <style>
     @Html.Raw(HttpContext.Current.Session["CssOverride"].ToString());
    </style>
    <style>
        .spinner div {
            /*top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
            z-index: 999999;
            opacity: 0.8;
            background-color: black;
            width: 20px;
            height: 20px;
            position: fixed;
            left: -20px;
            top: 40px;
            border-radius: 50%;
            animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
        }

            .spinner div:nth-child(2) {
                animation-delay: 150ms;
            }

            .spinner div:nth-child(3) {
                animation-delay: 300ms;
            }

            .spinner div:nth-child(4) {
                animation-delay: 450ms;
            }

        #greenDot {
            background-color: green;
        }

        #yellowDot {
            background-color: yellow;
        }

        #redDot {
            background-color: red;
        }

        #blueDot {
            background-color: blue;
        }

        @@keyframes move {
            0% {
                left: 0%;
            }

            40% {
                left: 100%;
            }

            100% {
                left: 100%;
            }
        }
    </style>
</head>
<body>
    <div ng-controller="DashboardController" ng-cloak>
        <div class="fix-header navbar-fixed-top">
            @*<div class="top-header">
                    <div class="container">
                        <div class="col-sm-12">

                            <div class="login">
                                <ul>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li>
                                        <p class="hi-text ">Hello</p>
                                        <a href="javascript:;" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Nitin Patel <span class="caret"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><p>you have: <span>4000 Points</span></p></li>
                                            <li role="separator" class="divider"></li>
                                            <li class="active"><a class="acoount-info" href="editProfile.html">Personal Info</a></li>
                                            <li><a class="acoount-info" href="changePassword.html">Change Password</a></li>
                                            <li><a class="acoount-info" href="addressBook.html">Address Book</a></li>
                                            <li><a class="acoount-info" href="orderHistory.html">Order History</a></li>
                                            <li><a class="acoount-info" href="rewardPoints.html">Reward Points</a></li>
                                            <li><a class="logout" href="#">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>*@
            <div class="top-header">
                <div class="container">
                    <div class="col-sm-12">
                        <div class="login">
                            <ul>
                                <li><a href="{{StoreDetailInSession.url}}" target="_blank" ng-bind="StoreDetailInSession.url"></a></li>
                                <li><a href="" ng-click="GotoMyWishlist()">My Wishlist</a></li>
                                <li ng-if="!(CustomerDetail.customer_id>0)">
                                    <a ng-click="OpenLoginPopUp()">Login</a>
                                </li>
                                <li ng-if="CustomerDetail.customer_id>0">
                                    <p class="hi-text ">Hello</p>
                                    <a href="javascript:;" class="dropdown-toggle" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true" ng-bind="CustomerDetail.firstname +' '+CustomerDetail.lastname"><span class="caret"></span></a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><p>you have: <span ng-bind="(CustomerDetail.points | number : 2)+' Points'"></span></p></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="active"><a class="acoount-info" ui-sref="EditProfile" ng-if="CustomerDetail.customer_id>0">Personal Info</a></li>
                                        <li><a class="acoount-info cursor-pointer" href="" ui-sref="ChangePassword">Change Password</a></li>
                                        <li><a class="acoount-info cursor-pointer" href="" ui-sref="AddressBook">Address Book</a></li>
                                        <li><a class="acoount-info cursor-pointer" href="" ui-sref="OrderHistory">Order History</a></li>
                                        <li><a class="acoount-info cursor-pointer" href="" ui-sref="PointsAudit">Audit Points</a></li>
                                        <li><a class="logout" href="#" ng-click="Logout()">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header">
                <div class="container">

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="logo">
                                <a class="footer-logo" href="#" ui-sref="Home"><img ng-src="{{StoreDetailInSession.logo}}" alt="Logo" style="max-height:60px"></a>
                            </div>
                            <div class="main-menu">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="show_cart" ui-sref="CartDetail({cartgroup_id:CustomerDetail.cartgroup_id})">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-shopping-cart" id="cart_icon"></i>
                                        <span class="badge" ng-bind="CustomerDetail.TotalItemAdded"></span>
                                    </a>
                                </div>
                                <div class="search_products">
                                    <div class="input-group add-on">
                                        <input class="form-control add-on" placeholder="Search" my-enter="GotoProductList(WhatYouarelookingfor)" name="srch-term" ng-model="WhatYouarelookingfor" id="srch-term" type="text">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" ng-click="GotoProductList(WhatYouarelookingfor)"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div id="navbar" class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="#" ui-sref="Home">Home</a></li>
                                        <li><a href="#" ui-sref="LayoutCategoryORProductList({CategoryId:-1})">Our Products</a></li>
                                        <li><a href="#">Contact</a></li>
                                        @*<li><a ui-sref="MyReward" ng-if="CustomerDetail.customer_id>0">Rewards</a></li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="loader" data-loading>
            <div class="spinner">
                <div id="greenDot"></div>
                <div id="yellowDot"></div>
                <div id="redDot"></div>
                <div id="blueDot"></div>
            </div>
        </div>

        @RenderBody();

        @Scripts.Render("~/bundles/Layout2Js")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/appConfig")
        @Scripts.Render("~/bundles/LayoutControllers")
        <script src="~/Scripts/layout2/js/jquery.mCustomScrollbar.concat.min.js"></script>

        <footer class="footer">
            <div class="container">
                <div class="col-sm-3 pb-10">
                    <a class="footer-logo" href="#" ui-sref="Home"><img ng-src="{{StoreDetailInSession.logo}}" alt="Logo" style="max-height:60px"></a>
                </div>
                <div class="col-sm-9 pb-10">
                    <div class="footer_menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#" class="cursor-pointer" ui-sref="Home">Home</a></li>
                            <li><a href="" class="cursor-pointer" ui-sref="EditProfile" ng-if="CustomerDetail.customer_id>0">My Account</a></li>
                            <li><a href="" class="cursor-pointer" ng-click="OpenTermsCondition()">Terms &amp; Conditions</a></li>
                            <li><a href="" class="cursor-pointer">Contact Us</a></li>
                            <li class="pull-right">
                                <a href="#" class="cursor-pointer" id="fbIcon"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 2017 Cordoba</p>
            </div>
        </footer>


        <div class="about-overlay"></div>
        <div class="about-us">
            <div id="aboutScroll" class="welcome-block">
                <a href="javascript:;" class="showDesc">About Us</a>
                <div ng-bind-html="WelcomeMsg[0]"></div>
                <a ng-show="WelcomeMsg[1].length>0" id="readMore" href="javascript:;">Read More</a>
                <div class="more-content" ng-bind-html="WelcomeMsg[1]">
                </div>
            </div>

            <div class="container-fluid">
                <a href="#" id="back-to-top" title="Back to top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </div>

        <!-- login modal popup -->
        <div class="modal" id="DivLoginModel" role="dialog">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-body">
                            <a href="#" class="bottom-close" data-dismiss="modal">No Thanks</a>
                            <form name="loginForm" id="loginForm" ng-hide="IsVisibleloginForm" class="form-horizontal" novalidate>
                                <div class="login_page_left">
                                    <h2>Login</h2>
                                    <img src="~/Content/layout2/images/online-shopping.png" class="pt-20" alt="online-shopping">
                                </div>
                                <div class="login_page_right">
                                    <div class="form-group pt-20">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="CustomerObj.email" required="required">
                                        <p class="text-danger validationErrors" ng-show="loginForm.$submitted && (!loginForm.$valid) && (loginForm.email.$error.required || loginForm.email.$error.email)">Enter valid email id!</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <a class="forgot-password pull-right" href="#">Forgot Password?</a>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" ng-model="CustomerObj.password" required="required">
                                        <p class="text-danger validationErrors" ng-show="loginForm.$submitted && (!loginForm.$valid) && loginForm.password.$error.required">Password is required!</p>
                                        <a href="javascript:;" ng-click="ForgotPassword(forgotPasswordForm)" class="forgot-password">Forgot Password?</a>
                                    </div>
                                    <div class="form-group chekbox-main checkbox mr-20">
                                        <input type="checkbox" id="checkbox" />
                                        <label for="checkbox">Remember me</label>
                                    </div>
                                    <button type="submit" class="submit_btn form-group" ng-click="Login(loginForm)">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-overlay"></div>
        <div class="about-us">
            <div id="aboutScroll">
                <a href="javascript:;" class="showDesc">About Us</a>
                <h2>Bienvenue sur la boutique Make a Difference</h2>
                <div class="col-sm-12 welcome-block">
                    <div class="welcome-img">
                        <img src="images/welcomeImg.png" alt="welcome" />
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="more-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <a id="readMore" href="javascript:;">Read More</a>
                </div>
            </div>
        </div>

        <div class="container">
            <a href="#" id="back-to-top" title="Back to top">
                &uarr;
            </a>
        </div>
    </div>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/Layout2Js")
    <script src="~/Scripts/jquery-ui.min.js"></script>


    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/ng-ckeditor.js"></script>
    @Scripts.Render("~/bundles/appConfig")
    @Scripts.Render("~/bundles/LayoutControllers")
    <script src="~/Scripts/angular-animate.min.js"></script>
    <link href="~/Content/layout1/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />


    <script type="text/javascript">


        $(document).ready(function () {

            $(".dropdown-toggle").dropdown();

            $.mCustomScrollbar.defaults.theme = 'dark-thick';

            $(".category-list, #aboutScroll").mCustomScrollbar();
            $(".showDesc").click(function () {
                var hidden = $(".about-us");
                if (hidden.hasClass("visible")) {
                    hidden.animate({ "right": "-350px" }, "slow").removeClass("visible");
                    $(".showDesc").animate({ "right": "-54px" }, "slow").removeClass("visible");
                    $(".showDesc").text("About Us");
                    $(".about-overlay").fadeOut("slow");

                } else {
                    hidden.animate({ "right": "0px" }, "slow").addClass("visible");
                    $(".showDesc").animate({ "right": "296px" }, "slow").addClass("visible");
                    $(".showDesc").text("Close");
                    $(".about-overlay").fadeIn("slow");
                }
            });

            $('#readMore').click(function () {

                $('.more-content').slideToggle();

                var LinkText = $("#readMore").text();
                LinkText = LinkText.replace(/\s/g, '');
                if (LinkText == "ReadMore") {
                    $("#readMore").text("Read Less");
                }
                else {
                    $("#readMore").text("Read More");
                }
            });
        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('.top-nav').addClass("hidden");
            }
            else {
                $('.top-nav').removeClass("hidden");
            }
        });

        if ($('#back-to-top').length) {
            var scrollTrigger = 100, // px
                backToTop = function () {
                    var scrollTop = $(window).scrollTop();
                    if (scrollTop > scrollTrigger) {
                        $('#back-to-top').addClass('show');
                    } else {
                        $('#back-to-top').removeClass('show');
                    }
                };
            backToTop();
            $(window).on('scroll', function () {
                backToTop();
            });
            $('#back-to-top').on('click', function (e) {
                e.preventDefault();
                $('html,body').animate({
                    scrollTop: 0
                }, 700);
            });
        }

        function CartAnimation(target, Image) {
            var cart = $('#cart_icon');
            if (Image != undefined && Image != null) {
                var imgtodrag = $('<img id="dynamic">');
                imgtodrag.attr('src', Image);
            }
            else {
                var imgtodrag = $('<img id="dynamic">');
                imgtodrag.attr('src', '/Content/layout1/images/step-4-process.png');
            }
            if (imgtodrag) {
                var imgclone = imgtodrag.clone()
                if (imgclone.length) {
                    imgclone.offset({
                        top: target.offset().top,
                        left: target.offset().left
                    })
                  .css({
                      //'opacity': '0.5',
                      'position': 'absolute',
                      'width': '150px',
                      'z-index': '99999'
                  });

                    imgclone.appendTo($('body'))
                    .animate({
                        'top': cart.offset().top + 10,
                        'left': cart.offset().left + 10,
                        'width': 75,
                    }, 1000, 'easeInOutExpo');

                    setTimeout(function () {
                        cart.effect("shake", {
                            times: 2
                        }, 200);
                    }, 0);

                    imgclone.animate({
                        'width': 0,
                        'height': 0
                    }, function () {
                        $(this).detach()
                    });
                }
            }
        }
    </script>
</body>
</html>
